	<!-- start: Content -->
			<div id="content" class="col-lg-10 col-sm-11 ">
			
						
			<ol class="breadcrumb">
			  	<li><a href="page-invoice.html#">Bitcoin Agents</a></li>
				<li><a href="page-invoice.html#">Buy Order Bitcoin Invoice</a></li>
			  	<li class="active">Invoice</li>
			</ol>

			<div class="invoice">
				
				<div class="row header">

					<div class="col-sm-4">
						<div class="well">
						<h2>From</h2>
						<p><strong>USERNAME</strong></p>
						<p>BLOCKED OUT BITCOIN ADDRESS</p>
						<p>43-190 Mikolow, Poland</p>
						<p>Email: lukasz@bootstrapmaster.com</p>
						<p>Phone: +48 123 456 789</p>
						</div>
					</div><!--/col-->

					<div class="col-sm-4">
						<div class="well">
						<h2>To</h2>
						<p><strong>USERNAME</strong></p>
						<p>BLOCKED OUT BITCOIN ADDRESS</p>
						<p>43-190 Mikolow, Poland</p>
						<p>Email: lukasz@bootstrapmaster.com</p>
						<p>Phone: +48 123 456 789</p>
						</div>
					</div><!--/col-->

					<div class="col-sm-4">
						<div class="well">
						<h2>Details</h2>
						<p>Invoice <strong>AUTO GENERATE INVOICE #</strong></p>
						<p>March 30, 2013 <strong>AUTO GENERATE DATE</strong></p>
						<p>VAT: PL9877281777</p>
						<p>Tax ID</p>
						<p><strong>SWIFT code: 99 8888 7777 6666 5555</strong></p>
						</div>
					</div><!--/col-->		

				</div><!--/row-->
				<table class="table table-striped table-responsive">
					<thead>
						<tr>
							<th class="center">#</th>
							<th>Item Description</th>
							<th>Purchase Price</th>
							<th class="center">Quantity</th>
							<th class="right">Unit Cost</th>
							<th class="right">Total</th>                                          
						</tr>
					</thead>   
					<tbody>
						<tr>
							<td class="center">1</td>
							<td class="left">Purchase Bitcoin</td>
							<td class="left">$850.00</td>
							<td class="center">245 BTC</td>
							<td class="right">$208,250.00</td>
							<td class="right">$208,250.00</td>                                        
						</tr>
					                             
					</tbody>
				</table>

				<div class="row">

					<div class="col-lg-4 col-sm-5 notice">
						<div class="well">
							Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text Disclaimer Text 
						</div>	
					</div><!--/col-->

					<div class="col-lg-4 col-lg-offset-4 col-sm-5 col-sm-offset-2 recap">
						<table class="table table-clear">
							<tbody>
								<tr>
									<td class="left"><strong>Transact Fee</strong></td>
									<td class="right">1.00 %</td>                                        
								</tr>
								<tr>
									<td class="left"><strong>Fees</strong></td>
									<td class="right">$2,082.50</td>                                        
								</tr>
								<tr>
									<td class="left"><strong>Total</strong></td>
									<td class="right"><strong>$210,333.50</strong></td>                                        
								</tr>
								                                
							</tbody>
						</table>
						<a href="page-invoice.html#" class="btn btn-info" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>
						<a href="page-invoice.html#" class="btn btn-success"><i class="fa fa-usd"></i> Proceed to Payment</a>
					</div><!--/col-->

				</div><!--/row-->

			</div><!--/invoice-->		
			
       
					
			</div>
			<!-- end: Content -->
				
				</div><!--/row-->		
		
	</div><!--/container-->
	
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>

		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="assets/js/jquery-2.0.3.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="assets/js/jquery-1.10.2.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	
		
	
	
	<!-- page scripts -->
	<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	
	<!-- theme scripts -->
	<script src="assets/js/custom.min.js"></script>
	<script src="assets/js/core.min.js"></script>
	
	<!-- inline scripts related to this page -->
	
	<!-- end: JavaScript-->