<!-- start: Content -->
<style type="text/css">
	.dashboard-well {
		min-height: 400px;
	}

	.button-align-bottom {
		position:absolute; bottom:40px;
	}

</style>

<div id="content" class="col-lg-10 col-sm-11">
	<div class="row">
		<div class="col-lg-4">
			<div class="well dashboard-well">
				<h1>Market Data:</h1>
					<h2><label>Last Price: </label> $812.88</h2>
					<h2><label>Daily Change: </label> $9.88</h2>
					<h2><label>Day's Range: </label> $802.59 - $827.38</h2>
					<h2><label>Today's Open: </label> $803.00</h2>
					<h2><label>24hr Volume: </label> 8300 BTC</h2>
					<h2><label>Market Cap: </label> $10,032,077,232.00</h2>
					<h2><label>Total BTC: </label> 12,341,400 BTC</h2>		
				
			</div>
		</div>
		<div class="col-lg-4">
			<div class="well dashboard-well">
				<h1>Holdings:</h1>
				<h2><label>User ID: </label> </h2>
				<h2><label>BTC balance: </label> </h2>
				<h2><label>Cash balance: </label> </h2>
				<h2><label>Available for Trading: </label> </h2>
				<h2><label>Fees and rates table: </label> </h2>
				<div class="button-align-bottom">
					<button class="btn btn-sm btn-success"><i class="fa fa-money"></i> Deposit Cash</button>
					<button class="btn btn-sm btn-danger"><i class="fa fa-minus"></i> Withdraw Cash</button>
				</div>		
			</div>	
		</div>
		<div class="col-lg-4">	
			<div class="well dashboard-well">
				<h1>Trading:</h1>
				<h2><label>USD waiting withdrawal: </label> </h2>
				<h2><label>USD in open orders: </label> </h2>
				<h2><label>Total USD Amount: </label> </h2>
				<h2><label>BTC waiting withdrawal: </label> </h2>
				<h2><label>BTC in open orders: </label> </h2>
				<h2><label>Total BTC Amount: </label> </h2>
				<div class="button-align-bottom">
					<button class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Buy BTC</button>
					<button class="btn btn-sm btn-danger"><i class="fa fa-minus"></i> Sell BTC</button>
					<button class="btn btn-sm btn-info"><i class="fa fa-bullhorn"></i> Quotes and Charts</button>
				</div>	
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<h1>Intraday candlestick or lazy loading Highstock Chart Here</h1>	

		</div>
		
	</div>
</div>
<!-- end: Content -->
</div><!--/row-->		
</div><!--/container-->

