<!-- start: Content -->
<div id="content" class="col-lg-10 col-sm-11">


			<div class="row">
				<div class="col-lg-6">
					
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-align-justify"></i><span class="break"></span>Bitcoin Bids</h2>
							<div class="box-icon">
								
							</div>
						</div>
						<div class="box-content">
							<table class="table table-striped">
								  <thead>
									  <tr>
										  <th>Price</th>
										  <th>Amount</th>
										  <th>Value</th>
										  <th>Status</th>                                          
									  </tr>
								  </thead>   
								  <tbody>
									<tr>
										<td>$850</td>
										<td>.340897876</td>
										<td>$289</td>
										<td>
											<span class="label label-success">Active</span>
										</td>                                       
									</tr>
									<tr>
										<td>$850</td>
										<td>.340897876</td>
										<td>$289</td>
										<td>
											<span class="label label-warning">Pending</span>
										</td>                                       
									</tr>
										<tr>
										<td>$858</td>
										<td>.45678889</td>
										<td>$567</td>
										<td>
											<span class="label label-important">Banned</span>
										</td>                                       
									</tr>
									<tr>
										<td>$850</td>
										<td>.340897876</td>
										<td>$289</td>
										<td>
											<span class="label label-default">Inactive</span>
										</td>                                       
									</tr>
								                
								  </tbody>
							 </table>  
							 <div class="pagination pagination-centered">
							  <ul class="pagination">
								<li><a href="table.html#">Prev</a></li>
								<li class="active">
								  <a href="table.html#">1</a>
								</li>
								<li><a href="table.html#">2</a></li>
								<li><a href="table.html#">3</a></li>
								<li><a href="table.html#">4</a></li>
								<li><a href="table.html#">Next</a></li>
							  </ul>
							</div>     
						</div>
					</div>
				</div><!--/col-->
				
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-align-justify"></i><span class="break"></span>Bitcoin Asks</h2>
							
						</div>
						<div class="box-content">
							<table class="table table-striped">
								  <thead>
									  <tr>
										  <th>Price</th>
										  <th>Amount</th>
										  <th>Value</th>
										  <th>Status</th>                                          
									  </tr>
								  </thead>   
								  <tbody>
									<tr>
										<td>$850</td>
										<td>.340897876</td>
										<td>$289</td>
										<td>
											<span class="label label-success">Active</span>
										</td>                                       
									</tr>
									<tr>
										<td>$850</td>
										<td>.340897876</td>
										<td>$289</td>
										<td>
											<span class="label label-warning">Pending</span>
										</td>                                       
									</tr>
										<tr>
										<td>$858</td>
										<td>.45678889</td>
										<td>$567</td>
										<td>
											<span class="label label-important">Banned</span>
										</td>                                       
									</tr>
									<tr>
										<td>$850</td>
										<td>.340897876</td>
										<td>$289</td>
										<td>
											<span class="label label-default">Inactive</span>
										</td>                                       
									</tr>
								                
								  </tbody>
							 </table>  
							 <div class="pagination pagination-centered">
							  <ul class="pagination">
								<li><a href="table.html#">Prev</a></li>
								<li class="active">
								  <a href="table.html#">1</a>
								</li>
								<li><a href="table.html#">2</a></li>
								<li><a href="table.html#">3</a></li>
								<li><a href="table.html#">4</a></li>
								<li><a href="table.html#">Next</a></li>
							  </ul>
							</div>     
						</div>
					</div>
				</div><!--/col-->
			</div><!--/row-->
			
		

    
					
			</div>
			<!-- end: Content -->
				
				</div><!--/row-->		
		
	</div><!--/container-->
	
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	
	
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="assets/js/jquery-2.0.3.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="assets/js/jquery-1.10.2.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	

	
	
	<!-- page scripts -->
	<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="assets/js/jquery.sparkline.min.js"></script>
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap.min.js"></script>
	
	<!-- theme scripts -->
	<script src="assets/js/custom.min.js"></script>
	<script src="assets/js/core.min.js"></script>
	
	<!-- inline scripts related to this page -->
	<script src="assets/js/pages/table.js"></script>
	
	<!-- end: JavaScript-->