	<div class="container">
		<div class="row">
					<div id="content" class="col-sm-12 full">
			<div class="row">
				<div class="login-box" style="height:400px;">
					
					<div class="header">
						Create your Bitcoin Agent Account
					</div>
					
					<form class="form-horizontal register" action="" method="post">
						<fieldset class="col-sm-12">
							<div class="">
							  	<label class="" for=""></label>
							  	<div class="controls row">
									<div class="">	
										
									</div>	
							  	</div>
							</div>
							
							<div class="form-group">
							  	<label class="control-label" for="username">Username</label>
							  	<div class="controls row">
									<div class="input-group col-sm-12">
										<input type="text" class="form-control" id="username"/>
									</div>	
							  	</div>
							</div>
							
							<div class="form-group">
							  	<label class="control-label" for="password">Password</label>
							  	<div class="controls row">
									<div class="input-group col-sm-12">
										<input type="password" class="form-control" id="password"/>
									</div>	
							  	</div>
							</div>

							<div class="confirm">
								<input type="checkbox" name="agree"/>
								<label for="agree">I agree to <a href="page-register.html#">Term of Use</a></label>
							</div>	

							
							<div class="row">

								<button type="submit" class="btn btn-primary col-xs-12">Create Account!</button>
							
							</div>
						</fieldset>	

					</form>
					
							
						
				</div>
			</div><!--/row-->
		
		</div>	

			
			
				</div><!--/row-->		
		
	</div><!--/container-->
	
		
	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="assets/js/jquery-2.0.3.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script src="assets/js/jquery-1.10.2.min.js"></script>
	
	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>
	
		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
		</script>
		
	<![endif]-->
	<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	
		
	
	
	<!-- page scripts -->
	<script src="assets/js/jquery.icheck.min.js"></script>
	
	<!-- theme scripts -->
	<script src="assets/js/custom.min.js"></script>
	<script src="assets/js/core.min.js"></script>
	
	<!-- inline scripts related to this page -->
	<script src="assets/js/pages/login.js"></script>
	
	<!-- end: JavaScript-->