<!-- start: Content -->
<div id="content" class="col-lg-12">
	<div class="row">
		<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><a href="">Bitcoin Agents</a></li>
					<li class="active">Purchase Bitcoin</li>
				</ol>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-md-12">
							<div class="box">
								<div class="box-header">
									<h2><i class="fa fa-check"></i>Account Data</h2>
								</div>
								<div class="box-content no-padding">
									<table class="table bootstrap-datatable datatable small-font">
										<thead>
											<tr>
												<th>User ID:</th>
												<th>Cash balance:</th>
												<th>BTC balance:</th>
												<th>Portfolio Value (BTC+$):</th>
												<th>Lifetime Earnings</th>
											</tr>
										</thead>   
										<tbody>
											<tr>
												<td>Johnnny Apple Seed</td>
												<td>$35,000</td>
												<td>2450 BTC</td>
												<td>$2,117,500</td>
												<td class="darkGreen">+ $1,769,980</td>							
											</tr>								
										</tbody>
									</table>	
								</div>
								<button class="btn btn-sm btn-success"><i class="fa fa-money"></i> Deposit Cash</button>
								<button class="btn btn-sm btn-danger"><i class="fa fa-minus"></i> Withdraw Cash</button> 
								<button class="btn btn-sm btn-success pull-right"><i class="fa fa-plus"></i> Buy BTC</button>
								<button class="btn btn-sm btn-danger pull-right"><i class="fa fa-minus"></i> Sell BTC</button>
								<button class="btn btn-sm btn-info pull-right"><i class="fa fa-bullhorn"></i> Quotes and Charts</button>
							</div>
						</div><!--/col-->
					</div><!--/row-->	
				</div><!--/col-->
			</div><!--/row-->
			<div class="row">	
				<div class="col-lg-5">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-dollar"></i>Buy Bitcoin</h2>
						</div>
						<div class="box-content">
						  <div class="form-group">
							<label class="control-label" for="selectError3">Select Your Currency</label>
								<div class="controls">
								  <select id="selectError3" class="form-control">
								  	<option>USD | United States Dollar </option>
								    <option>EUR | Euro </option>
								    <option>CAD | Canadian Dollar </option>
								    <option>BRL | Brazilian Real </option>
								    <option>AUD | Australian Dollar </option>
									<option>ILS | Israeli Shekel </option>
									<option>NZD | New Zealand Dollar </option>
									<option>QAR | Qatar Rial </option>
									<option>HKD | Hong Kong Dollar </option>
									<option>ZAR | South African Rand </option>
									<option>AED | UAE Dirham </option>
									<option>JPY | Japanese Yen </option>
								  </select>
								</div>
						  </div>
							<form class="form-horizontal">
								<div class="form-group">
									<label class="control-label" for="focusedInput">Quantity (1.00000000) = $875 USD</label>
									<div class="controls">
									  <input class="form-control focused" id="focusedInput" type="text" placeholder="Enter the amount of BTC you wish to buy">
									</div>
								</div>
								 <div class="form-group">
									<label class="control-label">Fee for Trade</label>
										<div class="controls">
										  <span class="input-xlarge uneditable-input">1.00%</span>
										</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="disabledInput">Total Cost of Trade</label>
										<div class="controls">
										  <input class="form-control disabled" id="disabledInput" type="text" placeholder="$883.75" disabled="">
										</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-primary pull-right backgroundColor darkGreen">Execute Trade</button>
									<button class="btn">Cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div><!--/col-->
				<div class="col-lg-5">
					<h1>Highstock Chart here</h1>
				</div>
			</div><!--/row Buy Bitcoin Box-->
		</div><!--/col-->
	</div><!--/row-->
</div>
<!-- end: Content -->

</div><!--/row-->		

</div><!--/container-->