	<footer>
		<p>
			<span style="text-align:left;float:left"> <a href="http://www.bitcoin-agents.com">&copy; 2014 Bitcoin Agents</a> </span>
			<span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="http://bootstrapmaster.com/demo/genius/" alt="Bootstrap Admin Templates">Genius Dashboard</a> | Built with <a href="http://bloxy.co">bloxy</a></span>
		</p>

	</footer>